{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
   
    {% for index in post %}
        <div class="row">
            <div class="col-sm-6">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">{{ index.title }}</h5>
                        <a href="/blog/details/{{ index.id }}" class="btn btn-primary">Details</a>
                    </div>
                </div>
             </div>
            <div class="col-sm-6">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">{{ index.title }}</h5>
                        <a href="/blog/details/{{ index.id }}" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </div>
            
        {% endfor %} 

       

{% endblock %}
<!--
  {% for index in post %}
        <div class="row">
            <div class="col s12">
                    <li class="collection-item card-panel indigo lighten-4"><a href="/blog/details/{{ index.id }}">
                        {{ index.title }} </a></li>
            </div>
        </div>
    {% endfor %}
    -->    

    