.container-fluid  a {
    font: bold;
    font-style: italic;
    text-align: center;
    font-size: 20px;
}

.nav-wrapper {
    color: cornflowerblue;
}

body {
    background-image: url("/images/bground.jpg")
}